
@{
    ViewData["Title"] = "Index";
}
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#tab1">Sumulate Patient</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tab2">Visit Data</a>
        </li>
    </ul>
    <div>
       
        <div class="tab-content">
            <div id="tab1" class="tab-pane active">
                @{
                Html.RenderPartial("SimulatePatient");
                }
            </div>

            <div id="tab2" class="tab-pane active">
                @{
                Html.RenderPartial("VisitData");
                }

            </div>
        </div>
    </div>

</body>
</html>