
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <table class="table table-striped">
            <tr><td colspan="3">Visit Data</td></tr>
            <tr><td colspan="1"><button type="button" id='all' class="btn btn-primary">All Patients</button></td><td colspan="2"><select id="selectPatient">
    <option>Choose a number</option>
</select></td></tr>
            <tr><td colspan="3"><p id="linechart"></p></td></tr>
        </table>
    </div>
</div>